#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100vw;
}

body {
    margin: 0;
    background-color: #060606;
}

@font-face {
    font-family: 'Golden Age';
    src: url('../assets/Golden\ Age.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

div {
    font-family: 'Golden Age';
}

.btn-border {
    --borderc: #3d0724;
    --border-color-acc: #b80665;
}


.btn-container {
    display: flex;
    align-items: center;
    font-family: 'Golden Age';
    gap: 6px;
    font-size: 20px;
    color: #ddd;
    padding: 3px 10px 4px 2px;
    position: relative;
    box-sizing: border-box;
}


.btn-border {
    border: 2px solid black;
    border-color: var(--borderc);
    box-sizing: border-box;
    z-index: 2;
}
.btn-border:before {
    content: " ";
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-color: var(--borderc);
    
    width: 2px;
    height: 2px;
    display: table;
    position: absolute;
    top: 0;
    right: 0;
}
.btn-border-shadow {
    position: absolute;
    top: -2px;
    left: -2px;
    display: none;
}


.btn-container:hover {
    cursor: pointer;
}

.btn-container > span {
    z-index: 3;
    position: relative;
}

.cnt {
    width: 22px;
    height: 22px;
    position: relative;
    content: " ";
    background-color: gray;
}

.btn {
    width: 2px;
    height: 2px;
    padding: 10px;
    background-color: rgb(200,200,200);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

    color: #111;
}

.cnt {
    display: none;
}

.cnt-blue, .cnt-red {
    position: absolute;
    opacity: 0;
}

.cnt-blue {
    background-color: rgb(9, 255, 226);
    z-index: 1;
}

.cnt-yellow {
    background-color: rgb(249, 249, 164);
    z-index: 2;
}

.cnt-red {
    background-color: rgb(255, 56, 115);
    z-index: 1;
}
